*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main_div {
    border: solid 1px black;
    font-size: 14px;
    max-width: 20em;
    text-align: center;
/* margin-inline: auto; */
font-family: "Inter", sans-serif;
}

.profile_image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    /* border: solid 1px ; */
    
    background-image: url(assets/images/avatar-jessica.jpeg);
    background-position: center;
    background-size: cover;
    margin-inline:auto ;
}

.profile_name{
    
    font-weight:700 ;
    margin-top: 1em;
}

.location{
    
    font-weight: 600 ;
    margin-block: 0.5em;
}

.skill{
    
    font-weight: 400;
    margin-block: 1em;

}

.socials{
    
}

ul{
    border: solid;
}

.git, .fm, .link, .x, .insta{
    padding-inline: 2em;
    padding-block: .5em;
}

li{
margin-block: 2em;
}
.social_link{
    text-decoration: none;
    border: solid  ;
    
    
}