*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main_div {
    border: solid 1px black;
}

.profile_image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    /* border: solid 1px ; */
    background-image: url(assets/images/avatar-jessica.jpeg);
    background-position: center;
    background-size: cover;
}