*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main_div {
    border: solid 1px black;
    font-size: 14px;
}

.profile_image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    /* border: solid 1px ; */
    background-image: url(assets/images/avatar-jessica.jpeg);
    background-position: center;
    background-size: cover;
}

.profile_name{
    font-family:"Inter",sans-serif;
    font-weight:700 ;
    margin-top: 1em;
}

.location{
    font-family: "Inter", sans-serif;
    font-weight: 600 ;
    margin-block: 0.5em;
}

.skill{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-block: 1em;

}